html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

#pomodoro_div{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    height: 100%;
    align-content: center;
}
#pomo{
    display: grid;
    border: 1px solid rgb(255, 0, 234);
    grid-column: 1 / 9;  
}
#timerDisplay{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    cursor: default;
}
#intervals{
    border: 1px solid paleturquoise;
    display: flex;
    justify-content: center;
}
.int{
    border: 1px solid paleturquoise;
    margin: 1%;
    cursor: default;
}
.currentInt{
    background: yellow;
}
#inputs{
    grid-column-start: 1;
    grid-column-end: 9;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 200px fit-content(100%) fit-content(100%);
    grid-gap: 10px;
    justify-content: center;
}
.invisible{
    display: none;
    border: 1px solid blue; 
}
#inputs.invisible {
    display: none;
}

.input{
    /* border: 1px solid red; */
    grid-column-start: 1;
}
.removeInput{

}
.addInput{

}

#submitIntervals{
    justify-self: center;
    grid-column-start: 4;
}
#addInput{
    justify-self: center; 
}

#intervalsDisplay{
    grid-column: 1/9;
    display: grid;
    justify-content: center;
}

#controls{
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center
}
#controls  > *{
    cursor:pointer;
}

#playPause{
    border: 1px solid slateblue;
}

#next{
    border: 1px solid rgb(205, 90, 186);

}
#back{
    border: 1px solid rgb(94, 205, 90);
}
#muteUnmute{
    border: 1px solid rgb(94, 205, 90);
}